<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <!-- Jedis 配置信息 -->
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <!-- Redis URL -->
        <constructor-arg name="host" value="127.0.0.1"/>
        <!-- Redis 端口-->
        <constructor-arg name="port" value="6379"/>
        <!-- Redis 密码 -->
        <!--<constructor-arg value=""/>-->
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- 最大连接数 -->
        <property name="maxTotal" value="500"/>
        <!-- 最大闲置 -->
        <property name="maxIdle" value="100"/>
        <!-- 最小闲置 -->
        <property name="minIdle" value="10"/>
        <!-- 最大等待 -->
        <property name="maxWaitMillis" value="5000"/>
        <!-- 可以获取 -->
        <property name="testOnBorrow" value="true"/>
    </bean>

</beans>